.header-other-btn {
    display: none;
}

.header-other-btn img {
    vertical-align:unset;
}
/**头部样式**/
 .login-header.header {
    width:100%;
    height:80px;
    background:#fff;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 10%);
    position: relative;
}

.login-header, .jx-header {
    display: none;
}

.header_container {
    width:1200px;
    height:100%;
    margin:0 auto;
    position: relative;
}

.header_container .logoBox {
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
}

.header_container .logo {
    display: block;
    width: 200px;
    height: 55px;
}

.header_container .logo-text {
    font-size: 14px;
    font-weight: bold;
    color: #0068b6;
}


.header_container .logo img {
    width: 180px;
}

.header_container .nav {
    height:100%;
    padding-left: 265px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
}

.header_container .header_container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header_container .nav-left {
    float: left;
    height: 80px;
    font-size: 0;
}
.header_container .nav-item {
    position: relative;
    display: inline-block;
    /* margin: 0 10px; */
    cursor: pointer;
}
.header_container .nav-item .nav-active {
    background-color: #3e66c7;
    color: #fff;
}
.nav-item:hover .nav-title {
    background-color: #3e66c7;
    color: #fff;
}
.nav-item:hover .nav-ul {
    opacity: 1;
    z-index: 99;
}
.nav-ul {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0;
    min-width: 200px;
    /* padding: 10px 0; */
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #ccc;
    
}
.nav-li, .nav-li a {
    padding: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.nav-li:hover {
    color: #4d4d9e;
    background-color: #e9edff;
}
.nav-li_active  {
    color: #4d4d9e;
    background-color: #e9edff;
}
.header_container .nav-title {
    display: block;
    font-size: 14px;
    color: #666;
    height: 100%;
    line-height: 80px;
    padding: 0 30px;
    background-color: #fff;
    transition: all 0.3s linear;
}


.header_container .nav-right {
    max-width: 310px;
    display: flex;
    align-items: flex-end;
}

.header_container .nav .user-info span a {
    color:#4976e8;
}

.header_container .nav .user-info span {
    color:#4976e8;
    cursor:pointer;
}

.header_container .nav .user-info span.line {
    color:#cfcfcf;
    padding:0 5px;
}

.header_container .nav .user-info .iconfont {
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 15px;
}

.login-header .user-info {
    float: right;
    min-width: 125px;
    /* height: 81px; */
    /* line-height: 81px; */
    text-align: right;
    position: relative;
    max-width: 166px;
    display: none !important;
}

.login-header .user-info .to-login {
    color:#4976e8;
    float: right;
    height: 81px;
    line-height: 81px;
    position: relative;
    padding-left: 20px;
}

.login-header .user-info .to-register {
    color: #4976e8;
    float: right;
    height: 81px;
    line-height: 81px;
    position:relative;
    padding-left: 10px;
    margin-left: 6px;
}

#loginSystem  {
 
    background-color: #0068b6;
    color: #fff;
}


 .changeLang {
    position: relative;
    top: 0;
    padding-left: 10px;
    margin: 0 0 0 6px;
    /* float: right; */
    height: 80px;
    text-align: center;
    display: inline-block;
    z-index: 1;
}

.changeLang .iconfont {
    margin-right: 5px;
}

.changeLang .lang-item {
    color: #999999;
    display: block;
    padding: 10px 0;
}

.changeLang .active {
    color: #4269c9;
    background: #fff;
    border-radius: 0 0 3px 3px;
}

.changeLang .active#changeLangZh {
    border-radius: 3px 3px 0 0;
}

.lang-select {
    display: none;
    position: absolute;
    top: 60px;
    width: 84px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 3px;
}

.changeLang:hover .lang-select {
    display: block;
}

.lang-title {
    font-size: 14px;
    color: #4d4d9e;
    background: #e9edff;
    border-radius: 3px;
    height: 32px;
    display: block;
    line-height: 32px;
    width: 84px;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
}


.header_container .nav .header-other-btn {
    float: right;
    height: 81px;
    line-height: 81px;
    padding-top: 13px;
    box-sizing: border-box;
    margin-left: 10px;
    /* margin-right: 20px; */
}
/*2022改版*/
 .nav-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    display: block;
    background: #e9edff;
    margin: 8px auto 0;
}

.nav-icon img {
    vertical-align: middle;
}

.header_container .nav .nav_item>a svg {
    font-size: 20px;
    fill: currentColor;
    overflow: hidden;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -3px;
}

.header_container .nav .nav_item>a .iconfont {
    color: #4269c9;
    font-size: 20px;
}

.header_container .nav .nav_item>a p {
    font-size: 12px;
    margin-top: 5px;
    color: #666;
}


.mobile-header {
    display: none;
}
/*英文版*/
.en-lang .header_container .nav .nav_item {
    margin: 0 20px;
}

.en-lang .header_container .nav .nav_item>a {
    line-height: 40px;
    margin-top: 20px;
}

.en-lang .nav-icon {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.en-lang .header_container .nav .nav_item>a {
    line-height: 40px;
}

.en-lang .header_container .nav .nav_item>a p {
    line-height: 1;
    word-break: break-word;
    display: inline-block;
    margin: 0 0 0 10px;
    max-width: 62px;
    text-align: left;
    vertical-align: middle;
}

.en-lang .header_container .nav .nav_item_center>a p {
    max-width: 52px;
}

.en-lang .subjects-box {
    line-height:1;
}

.en-lang .nav-search-btn {
    font-size: 13px;
}

.en-lang .nav-search-btn .iconfont {
    font-size: 12px;
}
/*英文版 end*/
 @media screen and (max-width:480px) {
    body {
        min-width: auto;
        overflow-x: hidden;
    }
    
.pc-header, .nav-search {
        display: none !important;
    }
    
.login-header.header {
        height: 131px;
    }
    
.mobile-header {
        display: block;
    }
    
#north {
        position: relative;
        z-index: 99;
    }
    
.header_container {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        z-index: 1;
    }
    
.header_container .logoBox {
        left: 15px;
    }
    
.header_container .logo {
        width: 200px;
    }
    
.header_container .nav {
        padding: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 1;
        background-color: #fff;
        border-top: 1px solid #efefef;
        line-height: 50px;
        height: 50px;
        float: none;
    }
    
.header_container .nav-items {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
.header_container .clearfix:after {
        content: none;
    }
    
.changeLang {
        display: none!important;
    }
    
#menu:after {
        content: none;
    }
    
.header_container .nav ul {
        float: none !important;
        display: table;
    }
    
.header_container .nav .nav_item {
        display: table-cell;
        float: none !important;
        padding: 0 16px;
        margin: 0;
        white-space: nowrap;
        position: static;
        vertical-align: middle;
    }
    
.header_container .nav .nav_item:last-of-type {
        height: auto;
    }
    
.header_container .nav-right {
        display: none;
    }
    
.header_container .nav .nav_item>a:after {
        display: none;
    }
    
.header_container .nav .nav_item > a {
        display: block;
        width: 100%;
    }
    
.login-header #logoRight .user-info {
        display: block !important;
    }
    
#logoRight > div {
        line-height: 50px !important;
        height: 50px;
    }
    
#logoRight .user-info .iconfont {
        font-size: 14px !important;
        margin-right: 2px;
    }
    
#logoRight .user-info span a {
        color:#4976e8;
    }
    
#logoRight .user-info span {
        color:#4976e8;
        cursor:pointer;
    }
    
#logoRight .user-info span.line {
        color:#cfcfcf;
        padding:0 5px;
    }
    
#logoRight .user-info span.iconfont {
        margin-right:5px;
        position: relative;
        top:1px;
    }
    
.nav-items #otherBtn .header-other-btn {
        float: none !important;
        padding: 0;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
    }
    
.nav-items #otherBtn .header-other-btn img {
        width: auto;
        max-height: 100%;
    }
    
::-webkit-scrollbar {
        width: unset;
        height: 0;
        overflow: unset;
    }
    
::-webkit-scrollbar-thumb {
        background-color: unset;
        min-height: 0;
        min-width: unset;
        border: unset;
    }
    
::-webkit-scrollbar-track {
        background-color: unset;
        border: unset;
    }
    
.header_container .people img {
        margin-top:10px;
    }
    
.header_container .people #username {
        height:60px;
    }
    
#north.expert-north {
        height: 50px;
        min-height: 50px;
        line-height: 50px;
    }
    
.expert-brand {
        width: 100%;
        padding: 0 30px;
    }
    
.expert-brand a {
        font-size: 16px;
    }
    
img.nav-2020, img.nav-2020-hover {
        display: none;
    }
    
.header_container .nav .nav_item .nav-2020-txt {
        display: block;
    }
    
.header_container .nav .nav_item:hover .nav-2020-hover {
        display: none;
    }
    
.header_container .nav .nav_item:last-of-type a {
        padding-top: 0;
    }
    
.header_container .nav .nav_item.nav-img {
        max-width: unset;
        line-height: unset;
        height: auto;
        overflow: unset;
    }
    
.header_container .nav .nav_item.nav-img a {
        padding-top: 0;
    }
    
.subjects-box.province-center-box {
        width: 100%;
        left: 0!important;
        box-sizing: border-box;
        top: 50px !important;
        padding: 20px 10px;
        border-radius: 0 0 10px 10px;
    }
    
.subjects-box.province-center-box .bubbleTail {
        display: none;
    }
    
.subjects-box>li {
        width: 33.33%;
        text-align: center;
        padding: 0;
    }
    
.login-header .user-info .to-login, .login-header .user-info .to-register {
        height: 50px;
        line-height: 50px;
    }
}